body {
  margin: 0;
  overflow: hidden;
}

#tabMasterIcon {
  cursor: pointer;
}

#tabMasterContainer {
  position: fixed;
  top: 0;
  right: -300px; /* Initially off-screen */
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  border-left: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-out;
  z-index: 1000000; /* Adjust as needed */
}

#tabList div {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

#tabList div:last-child {
  border-bottom: none;
}

#tabList div:hover {
  background-color: #f0f0f0;
}